.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 25vw;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px grey;
    background:white;
    margin: 20px;
    position: relative;
}

h1{
    margin-top: 30px;
}

.button-cat {
    background: #4C5B5C;
    /* border: 1px solid #000000; */
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 20px;
}

.row{
    width: auto;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.edit{
    background: rgb(72, 138, 7);
}

.delete{
    background: rgb(153, 38, 38);
}